language: java

jdk: openjdk11

env:
  global:
    - MAVEN_OPTS="-Xmx6g"
  matrix:
    # - TEST=RunBerlinScenarioTest#testTest
    # - TEST=RunBerlinScenarioTest#test1pctUntilIteration1
    #   - TEST=RunBerlinScenarioTest#test10pctUntilIteration1 # does not fit into travis.  kai, aug'18

script:
  - mvn test --batch-mode -Dmatsim.preferLocalDtds=true -Dmaven.javadoc.skip -e
  

  # - mvn -Dtest=${TEST} test --batch-mode -Dmatsim.preferLocalDtds=true -Dmaven.javadoc.skip -e
